*.cachefile
*.enc
*.exe
*.exp
*.dll
*.dll.embed*
*.fxo
*.idb
*.ilk
*.iobj
*.intermediate.manifest
*.ipch
*.ipdb
*.lastbuildstate
*.log
*.mll
*.obj
*.opensdf
*.pdb
*.pixrun
*.sdf
*.swatches
*.suo
*.tlog
*.unsuccessfulbuild
*.vc.opendb
*.vcxproj.filters
*.vcxproj.user
*_manifest.rc
!/*.pdb
mayaExporterTestPlugin/_UpgradeReport_Files
*/Debug/*.lib
*/Release/*.lib
*/ReleaseDebug/*.lib
!VulkanTest01/models/*.obj
VulkanTest01/cooked/*
*.VC.db